<main class="page-content grocery-list-page">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div class="card-title">
        <mat-card-title id="grocery-list-title">My groceries list</mat-card-title>
        <button
          matButton="filled"
          type="button"
          aria-label="Add a new grocery item"
          (click)="createItemDialog()"
        >
          Add item
          <mat-icon aria-hidden="true">add</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
        @switch (groceryListLoadState()) {
            @case (GroceryListLoadState.LOADING) {
                <p>Loading...</p>
            }
            @case (GroceryListLoadState.LOADED) {
                <app-grocery-list
                        [groceryListItems]="groceryList()"
                        [loadState]="groceryListLoadState()"
                        (itemBoughtChanged)="updateItemIsBought($event)"
                        (itemDeleteClicked)="deleteItemDialog($event)"
                        (itemEditClicked)="editItemDialog($event)"
                        (itemQuantityChanged)="updateItemQuantity($event)"
                ></app-grocery-list>
            }
            @case (GroceryListLoadState.ERROR) {
                <p>Could not load the grocery list.</p>
            }
        }
    </mat-card-content>
  </mat-card>
</main>
